<% include header %>  
<body>
  <header>
    <div id="bn-logo"></div>
    <nav><a href="http://www.redhat.com" target="_blank">Visit Red Hat</a></nav>
  </header>
  <div id="bn-main-wrapper">
    <div class="container">
      <h2 id="leaderScores">Top Participant Scores:</h2>
      <table class="table table-hover" id="leaderTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Score</th>
            <th>Percentage Correct</th>
          </tr>
        </thead>
      </table>
      <a href="/" id="home" class="btn btn-primary btn-sm">Back To Home</a>
    </div>
  </div>
  <div id="bn-footer">Copyright ©2020 Red Hat, Inc. | Privacy statement | Terms of use | <br>
    * We’ve updated our Privacy Statement effective June 24, 2020Click here to review.
    Red Hat Summit
  </div>
  <!--<script src="static/js/jquery-2.1.4.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <!-- <script src="static/js/quiz.js"></script> -->
  <!--<script src="static/js/script.js"></script>-->
<script>
setInterval(function() {
$(document).ready(function(){
  $.getJSON("/users", function(data){
    var leaderBoard = '';
    $.each(data, function(key, value){
      leaderBoard += '<tr>';
      leaderBoard += '<td>'+value.name+'</td>';
      leaderBoard += '<td>'+value.email+'</td>';
      leaderBoard += '<td>'+value.user_correct+'&nbsp;Correct</td>';
      leaderBoard += '<td>'+((value.user_correct/value.user_total) * 100).toFixed(2)+'%'+'</td>';
      leaderBoard += '</tr>';
    });
    $('#leaderTable').append(leaderBoard);
  });
});
},
1000); //1000 milliseconds (1 second). Change the value to whatever you need.
</script>
</body>
</html>