<% include header %>

<body>
  <header>
    <div id="bn-logo"></div>
    <nav><a href="http://www.redhat.com" target="_blank">Visit Red Hat</a></nav>
  </header>
  <div id="bn-main-wrapper">
    <div class="container">
      <h2 id="tenScores">Top Participant Scores:</h2>
      <table class="table table-hover" id="userTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Score</th>
          </tr>
        <tbody>
        </tbody>
        </thead>
      </table>
      <a href="" id="home" class="btn btn-primary btn-sm">Back To Home</a>
    </div>
  </div>
  <div id="bn-footer">Copyright ©2020 Red Hat, Inc. | Privacy statement | Terms of use | <br>
    * We’ve updated our Privacy Statement effective June 24, 2020Click here to review.
    Red Hat Summit
  </div>
  <script src="static/js/jquery-2.1.4.min.js"></script>  
  <script src="static/js/bootstrap.min.js"></script>
  <!-- <script src="static/js/quiz.js"></script> -->
  <script src="static/js/script.js"></script>
</body>

</html>