html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Red Hat Display", sans-serif;
}

#bn-main-wrapper {
  width: 80%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}

header {
  position: fixed;
  width: 100%;
}

header #bn-logo {
  background-image: url(/static/images/Logo-RedHat-A-Reverse-RGB.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-x: 10px;
  background-position-y: 10px;
  background-color: #000000;
  float: left;
  display: block;
  width: 70%;
  height: 75px;
}

header nav {
  float: right;
  background-color: #000000;
  text-align: right;
  width: 30%;
  padding-right: 2%;
  padding-bottom: 15px;
  padding-top: 28px;
  color: #ffffff;
  height: 75px;
}

header nav a {
  color: #ffffff;
}

#bn-wrapper h1 {
  font-size: 32px;
  font-weight: 600;
}

#answerChoices {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #dddddd;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #cfcece;
}

#bn-footer {
  text-align: center;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #000000;
}

h2#welcome {
  width: 50%;
  float: right;
  text-align: right;
  color: green;
  font-size: 36px;
}

h3#questionNumber {
  color: green;
}

body {
  background-color: #ffffff;
}

body a {
  text-decoration: underline;
}

.nameAlert {
  text-decoration: none;
}

.alert {
  display: inline-block;
}

#nameForm {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #dddddd;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #cfcece;
}

#home,
#backHome,
#nextQuestion,
#previousQuestion {
  text-decoration: none;
}

.table {
  border: 1px solid #2980b9;
}

.table thead>tr>th {
  border-bottom: none;
}

.table thead>tr>th,
.table tbody>tr>th,
.table tfoot>tr>th,
.table thead>tr>td,
.table tbody>tr>td,
.table tfoot>tr>td {
  border: 1px solid #000000;
}

th {
  text-align: center;
}

.questionNum {
  text-align: left;
}

#ajaxloading {
  margin-bottom: 20px;
}

#nameFormWarning,
#answerWarning,
#placeholderWarning {
  font-weight: 300;
  color: red;
}

#tenScores {
  text-align: left;
}

nav a {
  text-decoration: none;
  color: #000084;
}

a {
  color: green;
}

a:hover {
  color: #00b7ff;
  text-decoration: underline;
}

a .cNavbar {
  color: #000084;
}

a .navbar-brand {
  color: #000084;
}

a #navbar,
a .navbar-nav,
a .nav,
a .icon-bar,
a .navbar-default {
  color: #000084;
  background-color: #000084;
}

form label {
  display: inline-block;
  float: left;
}

label#ansLabels {
  float: inherit;
}

table {
  border: 2px solid black;
  text-align: center;
}

tr {
  padding: 10px;
  border: 2px solid black;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid black;
}

.notice {
  color: #1f6300;
}

.error {
  color: red;
}

.bodyText {
  padding-top: 70px;
  height: 100%;
}

.container {
  height: 80% !important;
  width: 100% !important;
}

.icon-bar {
  background-color: #000084;
}

.answerLabel {
  padding-right: 10px;
}

.editanswers {
  width: 94%;
  margin-left: 5px;
  margin-bottom: 5px;
  display: inline;
}

.editQuizAddAns {
  margin-right: 5px;
}

.removeQuestion {
  margin-left: 5px;
}

.btn {
  margin-bottom: 5px;
}

#description {
  text-align: left;
}

#reset_quiz {
  color: white;
  background: #006666;
}

#revert_quiz {
  color: white;
  background: #0099ff;
}

.customNotifications {
  position: fixed;
  right: 0px;
  width: 50%;
  top: 5%;
}

.customNotifications div {
  margin-bottom: 5px;
  margin-right: 5%;
  float: right;
}

#homeImg {
  display: inline;
  margin-bottom: 10px;
  margin-right: 5px;
}


 input:required:invalid, input:focus:invalid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
  background-position: right top;
  background-repeat: no-repeat;
  -moz-box-shadow: none;
}
input:required:valid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
  background-position: right top;
  background-repeat: no-repeat;
} 


/*# sourceMappingURL=styles2.css.map */